<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jennison Design</title>
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <link rel="shortcut icon" href="imgs/logo.png">
    <link rel="stylesheet" href="node_modules/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="sass/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>

    <div id="app" >
        <!-- NAVBAR -->
        <nav class="navbar is-primary is-fixed-top" id="nav" role="navigation" aria-label="main navigation">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" @click="changePage('home')">
                        Home
                    </a>
                    <a @click="toggleNav" role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
    
                <div class="navbar-menu" id="navbarExample">
                    <div class="navbar-end">
                        <a class="navbar-item" @click="changePage('about')">
                            about
                        </a>
                        <a class="navbar-item" @click="changePage('portfolio')">
                            portfolio
                        </a>
                        <a class="navbar-item" @click="changePage('solutions')">
                            solutions
                        </a>
                        <a class="navbar-item" @click="changePage('projects')">
                            projects
                        </a>
                        <a class="navbar-item" @click="changePage('contact')">
                            contact
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    
        <!-- HERO -->
        <section @click="outsideClick" class="hero is-fullheight-with-navbar" id="home">
            <!-- HOMEPAGE -->
            <div id="homepage" v-show="homepage">
                <div class="container">
                    <h1 class="title">Auckland Based</h1>
                    <chart></chart>
                </div>
            </div>
            
            <!-- ABOUT ME -->
            <div id="about" v-show="about">
                <div class="columns is-8 is-variable is-vcentered">
                    <div class="column is-one-third" @mouseover="aboutEnter" @mouseleave="aboutLeave" >
                        <figure class="image">
                            <div id="click-content">
                                <img @click="toggleModal" class="image circle-img" src="imgs/me.jpg" alt="" id="me-img">
                                <p @click="toggleModal" id="click-for-video">Click here for a Video</p>
                            </div>
                            <div class="modal">
                                <div class="modal-background" @click="toggleBG"></div>
                                <div class="modal-content">
                                    <video src="video.webm" controls id="vid">
                                        Your browser does not support the video tag
                                    </video>
                                </div>
                            </div>
                        </figure>
                    </div>
                
                    <div class="column">
                        
                        <h3 class="title">
                            Meet George
                        </h3>
                        <h3 class="subtitle">
                            <div id="typed-strings">
                                <p>Surfer</p>
                                <p>Meditator</p>
                                <p>Tech nerd</p>
                            </div>
                            <typed></typed>
                        </h3>
                        <p>
                            Hi, I'm George and I'm a highly passionate Web Designer and I love making my clients happy. I aim to treat everyone with the individuality and respect they deserve. I approach my clients with a sense of warmth and give personalised services. Your success is my success. If you're happy, I'm happy 
                        </p>
                    </div>
                    
                </div>
            </div>
            
            <!-- PORTFOLIO !-->
            <div id="portfolio" v-show="portfolio">
                <h1 class="title">Portfolio</h1>
                <p>
                    I developed a simple the website for The Veda Club, a spiritual group
                    <br>
                    <br>
                </p>
                <a href="http://thevedaclub.nz/"><img src="imgs/veda.png" alt="" id="veda-link"></a>
            </div>
            
            <!-- SERVICES -->
            <div id="solutions" v-show="solutions">
                <h1 class="title">
                    What we do
                </h1>
                <p>Our services take you from start to finish in developing an online prescence. We'll want to get to know you and your business in order to develop tailor made web solutions.</p>
                <p ><br></p>
                <div class="columns is-mobile is-multiline">
                    <div class="column is-half-mobile is-one-third-tablet">
                        <h3 class="title">Professional Photos <br> <i class="fas fa-check"></i></h3>
                    </div>
                    <div class="column is-half-mobile is-one-third-tablet">
                        <h3 class="title">Individual website <br> <i class="fas fa-check"></i></h3>
                    </div>
                    <div class="column is-half-mobile is-one-third-tablet">
                        <h3 class="title">Social media <br> <i class="fas fa-check"></i></h3>
                    </div>
                    <div class="column is-half-mobile is-one-third-tablet">
                        <h3 class="title">Online advertising <br> <i class="fas fa-check"></i></h3>
                    </div>
                    <div class="column is-half-mobile is-one-third-tablet">
                        <h3 class="title">Data and analytics <br> <i class="fas fa-check"></i></h3>
                    </div>
                    <div class="column is-half-mobile is-one-third-tablet">
                        <h3 class="title">Ongoing support<br>  <i class="fas fa-check"></i></h3>
                    </div>
                </div>
                <br>
                <article class="message is-success">
                        <div class="message-body">
                            Prices start at $200
                        </div>
                </article>
                <br>
            </div>

            <!-- PROJECTS -->
            <div id="projects" v-show="projects">
                <!-- <h1 class="title"></h1> -->

                <div class="container">
                    <!-- PROJECT NAV -->
                    <div id="project-items">
                        <h1 id='navGallery' class="title" @click="changeProject('gallery')">Gallery</h1>
                        <h1 id='navTodo' class="title" @click="changeProject('todo')">Todo list</h1>
                        <h1 id='navSearch' class="title" @click="changeProject('search')">Search</h1>
                    </div>

                    <!-- GALLERY -->
                    <div id="gallery" v-show="galleryProject">
        
                        <!-- ICONS -->
                        <span class="icon is-large">
                            <div v-bind:class="{activeItem: gallery}" id="icon-gallery" @click="gallery = true">
                                <i @click="gallery = !gallery" class="fas fa-3x fa-images"></i>
                            </div>
                            <div v-bind:class="{activeItem: !gallery}" id="icon-list" @click="gallery = false">
                                <i class="fas fa-3x fa-list"></i>
                            </div>
                        </span>
        
                        <br>
                        <br>
    
                        <!-- GALLERY -->
                        <transition name="fade">
                            <div v-show="gallery" class="gallery-view">
                                <div class="columns is-multiline">
                                    <div v-for="item in galleryItems" class="column is-narrow is-half">
                                        <img v-bind:src="item[0]" alt="">
                                    </div>
                                </div>
                            </div>
                        </transition>
    
                        <!-- LIST -->
                        <transition name="fade">
                            <div v-show="!gallery" class="gallery-view">
                                <ul>
                                    <li v-for="item in galleryItems">
                                    <div class="columns">
                                        <div class="column">
                                            <img v-bind:src="item[0]" alt="">
                                        </div>
                                        <div class="column">
                                            <p>{{item[1]}}</p>
                                        </div>
                                    </div>
                                </li>
                                </ul>
                            </div>
                        </transition>
                    </div>

                    <!-- TODO -->
                    <div id="todo" v-show="todoProject">
                        <input id="todo-input" @keyup.enter="append" v-model="todoQuery" type="text" placeholder="What needs to be done?">
                        <ul>
                            <li id="todo-content" v-for="item in todoItems" class="active" @click="completed(item, $event)">
                                <div id="item-content">
                                    {{item[0]}}
                                </div>
                                <div>
                                    <button @click="removeTodo(item)">
                                        &times;
                                    </button>
                                </div>
                            </li>
    
                            <li id="key" v-show="todoItems.length > 0">
                                <div class="active">
                                    <b>
                                        active
                                    </b>
                                    <br>
                                    {{totalActive}} / {{todoItems.length}}
                                </div>
                                <div class="success">
                                    <b>
                                        completed
                                    </b>
                                    <br>
                                    {{totalSuccess}} / {{todoItems.length}}
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!-- SEARCH -->
                    <div id="search" v-show="searchProject">
                        <input type="text" placeholder="search here" v-model="searchQuery">
                        
                        <ul>
                            <br>
                            <li v-for="item in searchItems" v-show="isInItems(item)">
                                {{item}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <!-- CONTACT -->
            <div id="contact" v-show="contact">
                <p class="title">Let's get in touch</p>
                <p class="subtitle">Give me a call or flick me an email for any and all inquiries</p>
                <p><i class="fas fa-map-marker"></i>&nbsp; Remuera, Auckland</p>
                <p><i class="fas fa-phone"></i>&nbsp; +64 21 251 2773</p>
                <p><i class="fas fa-envelope"></i>&nbsp; georjennison@gmail.com</p>
            </div>
            
            <particles></particles>
        </section>
    
    </div>

    <script src="typed/lib/typed.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script src="particles.js"></script>
    <script src="node_modules/vue/dist/vue.min.js"></script>
    <script src="script.js"></script>
</body>
</html>
